.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header, footer {
  background: #333;
  color: white;
  padding: 30px;
}

header {
  text-transform: uppercase;
}

.cards-list {
  margin: 60px auto;
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-body {
  border: 1px solid #333;
  border-radius: 20px;
  height: 100%;
}

.card-body img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-title {
  font-size: 24px;
}

.card-discription {
  padding: 20px;
}

.card-text {
  text-align: left;
}
